body{
    /*background-color: #484848;*/
    background-image: url('../../img/wallblack.jpeg');
}

.menssage-error{
    background-color: #FFB900;
    margin-top: 10%;
    margin-left: 26%;
    padding: 2%;
    box-shadow: 1px 1px 1px 1px white;
}

.img-error{
    width: 30%;
    margin: 3%;
    margin-left: 36%;
    margin-top: -1%;
}

.title-error{
    margin-left: 23%;
    font-weight: bold;
}

.return-message{
    width: 56%;
    background-color: burlywood;
    padding: 0.3%;
    margin-left: 21%;
    margin-top: 2%;
}

.return-message p{
    margin-left: 6%;
    padding: 1%;
    margin-top: 2%;
}

.btn-erro{
    margin-left: 45%;
    margin-top: 2%;
}

@media (max-width: 500px){
    .menssage-error{
        margin-top: 47%;
        margin-left: 14%;
        width: 73%;
    }

    .img-error {
        width: 40%;
        margin: 3%;
        margin-left: 30%;
        margin-top: 5%;
    }

    .title-error{
        margin-left: 11%;
        font-weight: bold;
        width: 82%;
    }

    .btn-erro{
        margin-left: 27%;
        margin-top: 8%;
        margin-bottom: 5%;
    }

    .return-message{
        padding: 0.8%;
    }
}
