body{
	background-image: url('../../img/wallblack.jpeg');
	background-attachment: fixed;
    background-position: bottom;
}

.m-space{
	background-color: #fff;
	position: relative;
    top: 83px;
    width: 80%;
    margin-left: 10%;
    background-color: #FFB900;
    box-shadow: 0px 2px 19px -1px white;
}

li a{
	color: black;
}

.hide-manager{
	display: none;
}


/* Aba Gestão de usuários */

	.box-users{
		margin-left: 8%;
	}


	h4{
		position: relative;
	    left: 35%;
		padding: 1%;
		color: black;
		font-size: 1.3em;
		width: 30%
	}

	.search{
		margin-left: 28%;
		margin-bottom: 3%;
	}

	.search p{
		color: black;
		text-align: center;
	}

	.card-users{
		width: 109%;
	    position: relative;
	    left: -11%;
	}

	.card{
	    width: 33%;
		height: 380px;
	}

	.btn-new-user{
		margin-bottom: 6%;
		margin-left: 100%;
	}

	.control-form{
		position: relative;
	    margin-top: 6%;
	    left: -18%;
	}

	.new-title{
		position: relative;
	    left: 162%;
	    padding: 2%;
	    top: -21PX;
	    font-weight: bold;
	}

	.btn-save-user{
		    position: relative;
		    top: 73px;
		    left: 24%;
	}

	.btn-search{
		position: relative;
		left: 103%;
    	top: -34px;
	}

	.custom-modal{
	   background-color: #FFB900;
	}

	.j_edit{
	   margin-left: 31%;
	}

	.btn-danger{
	   margin-left: 6%;
	}

	/* Aba de Gerenciamento de lojas */

	.search-loja{
		padding: 3%;
	    margin-left: 45%;
	}

	.title-loja{
		text-align: center;
    	font-weight: bold;
    	font-size: 2.1em;
	}

	.card-area-lojas{
		width: 100%;
    	margin-left: -2%;
	}

	.card-lojas{
		height: 300px;
		width: 68%;
	}

	.custom-form-loja{
		margin-left: 48%;
    	margin-top: -2%
	}

	.add{
		padding: 4%;
    	margin-left: 55%;
	}

	.btn-cad-link{
		width: 100%;
	    margin-left: 114%;
	    margin-top: 4%;
	}

	.btn-salvar-loja{
		margin-left: 151%;
	    position: relative;
	    top: 69px;
	    margin-bottom: 15%;
	}

	.btn-list-link{
		position: relative;
	    top: -41px;
	    margin-left: 142%;
	}

	.new-loja {
		margin-top: 6%;
	}

/* Aba de técnicos gerentes e diretores da regional */

.area-filtro{
	width: 184%;
}

.radio-css{
	margin-left: 1%;
}

.title-tec{
	font-weight: bold;
    margin-left: 62%;
    padding: 5%;
    width: 40%;
    font-size: 1.2em;
}

.grp-btn{
	margin-bottom: 3%;
    margin-left: 39%;
    margin-top: 3%;
}

.aa{
	margin-top: 3%;
    margin-left: 38%;
}

.custom-navbar {
    margin-left: 4%;
    font-size: 1.1em;
    margin-top: 1%;
    font-weight: 600;
}

.detail-regional{
	display: none;
}

.btn-pos-reg{
	position: relative;
    left: 22%;
}

.block-reg {
    padding-bottom: 2%;
    background-color: beige;
    margin-left: 1%;
    margin-top: 1%;
    width: 32%;
    margin-bottom: 2%;
}

h3{
  font-size: 18px;
  padding: 4%;
}

.btn-edit-resp-tec {
    position: relative;
    left: 12%;
    top: -6px;
}

.j_add-resp-tec {
    margin-left: 35%;
    margin-top: 2%;
}

.j-qtds {
    font-size: 1.7em;
    margin-left: 37%;
} 

.block-lojas{
	height: 500px;
	overflow: auto;
	margin-bottom: 5%;
}

.custom-container{
	width: 100%;
}

.btn-grp-result{
	margin-left: 44%;
    margin-top: -6%;
}

.new-reg{
	display: none;
}

.titleNumreg {
    margin-left: 40%;
    margin-bottom: 2%;
    margin-top: 3%;
}

.num-reg-cl {
    width: 9%;
    margin-left: 45%;
    margin-bottom: 2%;
}

.block-margin {
    margin-left: 12%;
}

.block-lojas-new {
    margin-bottom: 9%;
}

.btn-add-lj {
    margin-top: 20%;
}

.rel-lojas-reg {
    background-color: cornsilk;
    min-height: 69px;
    box-shadow: 1px 1px;
    padding: 0.5%;
    width: 59%;
}

.btn-lj-reg {
    margin-top: 1%;
    margin-left: 1%;
}

.titleNameReg {
    margin-left: 41%;
    margin-bottom: 2%;
}

.j_regional {
    width: 14%;
    margin-bottom: 4%;
    margin-left: 43%;
}

.titleRegAssc{
	margin-left: 40%;
}
