body{
    background-image: url('../../img/wallblack.jpeg');
    background-attachment: fixed;
    background-position: bottom;
}

.block-rel{
    background-color: #FFB900;
    margin-top: 7%;
    margin-left: 23%;
}

.h3, h3 {
    font-size: 24px;
    text-align: center;
    padding: 1%;
    font-weight: 700
}

p {
    margin: 0 0 10px;
    text-align: center;
    font-weight: 600;
}

.form-control{
    width: 48%;
    margin-left: 26%;
}

.btn{
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 45%;
    font-size: 14px; 
}

.j-date{
    margin-left: 68%; 
}

div#datepicker {
    margin-left: 4%;
}

.j-sel-rel {
    margin-left: 31%;
    margin-bottom: 2%;
}

p.title {
    margin-top: 3%;
    font-size: 1.3em;
    margin-bottom: 2%;
}

input.form-control.input-sm.margin-left {
    margin-left: 37%;
}

.j-sit-ch{
    margin-left: 41%;
}


@media(max-width: 500px){
    .block-rel {
        margin-top: 29%;
        padding: 3%;
        margin-left: 9%;
        width: 85%;
    }

    div#datepicker {
        margin-left: -32%;
        left: 2%;
        width: 101%;
    }

    .j-sel-rel {
        margin-left: 26%;
        margin-bottom: 7%;
        margin-top: 6%;
    }

    .btn {
        margin-bottom: 2%;
        margin-top: 18%;
        margin-left: 41%;
        font-size: 14px;
    }

    .j-sit-ch {
        margin-left: 27%;
    }

    input.form-control.input-sm.margin-left {
        margin-left: 26%;
    }
}